################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ta13/.vs/ta13/v15/Browse.VC.opendb
