################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ta13/.vs/ta13/v15/Browse.VC.opendb
/ta13/Debug
/ta13/ta13.vcxproj.filters
/ta13/ta13.vcxproj
/ta13/ta13.sln
/ta13/ta13.sln
/ta13/.vs/ta13/v15
/ta13/.vs/ta13/v15/ipch/AutoPCH/TA13-a28a3280
/ta13/.vs/ta13/v15/ipch/AutoPCH/TA13-a28a3280/COURSE-b1de31fa/COURSE.ipch
/ta13/.vs/ta13/v15/ipch/AutoPCH/TA13-a28a3280/STUDENT-4dfdf9f0/STUDENT.ipch
